<ion-header>
  <ion-row>
    <ion-title>Hi Greg</ion-title>
    <ion-icon
      name="document-outline"
      float="right"
      class="icon paper"
    ></ion-icon>
    <ion-icon
      name="notifications-outline"
      float="right"
      class="icon bell"
    ></ion-icon>
  </ion-row>
</ion-header>

<ion-col>
  <ion-list [inset]="false">
    <ion-item>
      <ion-label
        >Liontrust Global | 31 Dec 21 | 0203415-0001 | £9,679.21</ion-label
      >
    </ion-item>
    <ion-item>
      <ion-label>Liontrust UK| 29 Dec 21 | 0203415-0001 | £855.59</ion-label>
    </ion-item>
    <ion-item>
      <ion-label
        >TLiontrust Asia| 27 Dec 21 | 0203415-0001 | £7,386.78</ion-label
      >
    </ion-item>
    <ion-item>
      <ion-label
        >Liontrust Special| 20 Dec 21 | 0203415-0001 | £12,073.89</ion-label
      >
    </ion-item>
    <ion-item>
      <ion-label
        >Liontrust FTSE| 19 Dec 21 | 0203415-0001 | £9,559.51</ion-label
      >
    </ion-item>
    <ion-item>
      <ion-label
        >Liontrust Dist| 17 Dec 21 | 0203415-0001 | £46,987.98</ion-label
      >
    </ion-item>
    <ion-item>
      <ion-label>Liontrust | 16 Dec 21 | 0203415-0001 | £5,376.22</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Liontrust | 15 Dec 21 | 0203415-0001 | £11,507.35</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Liontrust | 14 Dec 21 | 0203415-0001 | £13,877.87</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Liontrust | 12 Dec 21 | 0203415-0001 | £9,009.09</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Liontrust | 10 Dec 21 | 0203415-0001 | £2,990.78</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Liontrust | 8 Dec 21 | 0203415-0001 | £679.21</ion-label>
    </ion-item>
  </ion-list>
</ion-col>

<ion-tabs>
  <ion-router-outlet></ion-router-outlet>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="apps-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="funds">
      <ion-icon name="cash-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="transactions">
      <ion-icon name="reload-circle-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="help">
      <ion-icon name="help-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
